@page
@model PROG6212_PoE.Pages.EditModuleModel
@{
    Layout = "_Layout";
}

<h2>Edit Module</h2>

<div id="pop-up">
    <script>
        abp.message.success(@Model.md.date + 'Your changes have been successfully saved!', 'Congratulations' + @Model.md.moduleCode);
    </script>
</div>

<form class="row g-3" method="post">
    <div class="col-md-6">
        <label for="inputCode" class="form-label">Code</label>
        <input type="text" class="form-control" id="inputCode" name="txtCode" disabled value="@Model.md.moduleCode">
    </div>

    <div class="col-md-6">
        <label for="inputName" class="form-label">Name</label>
        <input type="text" class="form-control" id="inputName" name="txtName" value="@Model.md.moduleName">
    </div>

    <div class="col-md-6">
        <label for="inputsCredits" class="form-label">Credits</label>
        <input type="text" class="form-control" id="inputCredits" name="txtCredits" value="@Model.md.moduleCredits">
    </div>

    <div class="col-md-6">
        <label for="inputNumOfWeeks" class="form-label">Number of weeks</label>
        <input type="number" class="form-control" id="inputNumOfWeeks" name="txtNumOfWeeks" value="@Model.md.weeks">
    </div>

    <div class="col-md-6">
        <label for="inputHoursPerWeek" class="form-label">Hours per weeks</label>
        <input type="number" class="form-control" id="inputHoursPerWeek" name="txtHoursPerWeek" value="@Model.md.hrsWeekly>
    </div>

    <div class="col-md-6">
        <label for="inputDate" class="form-label">Date</label>
        <input type="date" class="form-control" id="inputDate" name="txtDate" value="@Model.md.date">
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
    <script>
        alert(@Model.md.date + ' Planned for ' + @Model.md.moduleCode)
    </script>
</form>